<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131095133498-vuu6s65getnd0n620tteb5si2pbqlt4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131095133498-vuu6s65getnd0n620tteb5si2pbqlt4i</string>
	<key>API_KEY</key>
	<string>AIzaSyDaT44VQPIZb0kOVlWf30rbNWczjIwrGjs</string>
	<key>GCM_SENDER_ID</key>
	<string>131095133498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CacheTech.SpaceJump</string>
	<key>PROJECT_ID</key>
	<string>space-jump-f89fa</string>
	<key>STORAGE_BUCKET</key>
	<string>space-jump-f89fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131095133498:ios:aac7bc062f720e61e6e403</string>
	<key>DATABASE_URL</key>
	<string>https://space-jump-f89fa.firebaseio.com</string>
</dict>
</plist>